
--------------- Hover version -------------------

/*.nav-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-container a {
  display: block;
  text-decoration: none;
  background-color: white;
  color: gold;
  text-transform: uppercase;
  padding: 15px 0px 15px 10px;
  margin: 5px 0;
  width: 350px;
  letter-spacing: 1.5px;
  box-shadow: 2px 2px 2px 0px gray;
  position: relative;
  margin-left: -555px;
  transition: 0.5s ease;
}

.nav-container a span {
  float: right;
  width: 70px;
  height: 100%;
  line-height: 50px;
  text-align: center;
  color: white;
  background: darkblue;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-container a:hover {
  margin-left: 0;
}*/



------------ first_guy ------------------



.accordion__button {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background 0.2s;
  margin-left: 0px;
}

/*.accordion__button::after {
  content: '\25be';
  float: right;
  transform: scale(1.5);
}*/
/*.accordion__button--active + .accordion__content { display: block }*/
.accordion__button--active {
  margin-right: 0px;
}

.accordion__content {
/*  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;*/

  padding: 0 15px;
  background: #lightblue;
  display: none;
  overflow: auto;
}
